.main__form {
}

.main__form--control {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80vh;
	gap: 5px;
}

.form--control-h2 {
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 15px;
}

.main__form--control label {
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main__form--control input {
	width: 300px;
	height: 30px;
	padding: 3px;
	margin-bottom: 10px;
	outline: none;
	transition: all 0.3s ease;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.main__form--control input:focus {
	border: 2px solid rgba(10, 101, 238, 0.5);
}

textarea {
	border: 2px solid rgba(0, 0, 0, 0.2);
	outline: none;
	border-radius: 5px;
	padding: 2px;
}

textarea:focus {
	border: 2px solid rgba(10, 101, 238, 0.5);
}

button {
	padding: 10px 15px;
	width: 200px;
	border: none;
	margin-top: 10px;
	font-size: 16px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
    background: #0a65ee9d;
    color: #fff;
    transition: all .2s ease;
}

button:hover {
    background: #0a65ee;
}
